<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="com.ebstudy.board_v2.repository.BoardMapper">
    <resultMap type="com.ebstudy.board_v2.web.dto.PostDTO" id="mappingPostDTO">
        <result property="postId" column="post_id"/>
        <result property="isHaveFile" column="file_flag"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>
    <select id="getPostLists" parameterType="int" resultType="com.ebstudy.board_v2.web.dto.PostDTO" resultMap="mappingPostDTO">
        SELECT *
        FROM posts
        ORDER BY post_id DESC LIMIT #{pageNumber}, 10;
    </select>

</mapper>
